body {
    background-color: #fff;
    color: black;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

blockquote p {
    color: #222;
}

blockquote {
    margin-top: 3em;
}

.top-bar-section ul li>a {
    font-size: 1rem;
}

img {
    max-width: 75%;
    height: auto;
}

#content {
    margin: 0px auto 0px auto;
}

#header {
    height: 96px;
    line-height: 96px;
    text-align: center;
}


#header h1 {
    color: white;
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, p {
    font-family: "Open Sans", sans-serif;
}

pre {
  font-family: ubuntu mono, monospace;
}

code {
  background: #eee;
  color: #4F4371;
  font-family: ubuntu mono, monospace;
}

.darkbg {
    background-image: linear-gradient(to right, rgb(25, 17, 31) 0%, rgb(44, 30, 55) 100%);
}

div#footer {
}

.clear {
    clear: left;
}

.top-bar {
    /* background-image: linear-gradient(to right, rgb(25, 17, 31) 0%, rgb(44, 30, 55) 100%); */
    margin-bottom: 24px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: transparent !important;
}

div.quote {
    margin-bottom: 25px;
}
